/* 
Reset
 */

body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

#numbers-container {
    font-size: 24px;
    margin: 20px 0;
}

#numbers-container span {
    margin: 0 10px;
}

#timer-container {
    font-size: 20px;
    margin: 20px 0;
}